{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block main %}
<div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center flex-column">
<form method="POST" class="form-group">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Old Password</label>
    <input type="password" name="oldPassword" class="form-control" placeholder="*********" required>
  </div>
  <div class="mb-3">
    <label class="form-label">News Password</label>
    <input type="password" name="newPassword1" class="form-control" placeholder="*********" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Repeat New Password</label>
    <input type="password" name="newPassword2" class="form-control" placeholder="*********" required>
  </div>
  <button type="submit" class="btn btn-success">Change</button>
</form>
<br>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}