{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
  #alert1, #alert2{
    display: none;
    width: 207px;
  }
</style>
{% endblock %}

{% block main %}
<div class="my-5 py-5 d-flex align-items-center justify-content-center flex-column">
<form method="POST" class="form-group contener">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Old Password</label>
    <input type="password" name="oldPassword" class="form-control" placeholder="*********" required>
  </div>
  <div class="mb-3">
    <label class="form-label">News Password</label>
    <input type="password" id="password1"name="newPassword1" class="form-control" placeholder="*********" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Repeat New Password</label>
    <input type="password" id="password2" name="newPassword2" class="form-control" placeholder="*********" required>
  </div>
  <button type="submit" id="change" class="btn btn-success" disabled>Change</button>
</form>
<br>
<div id="alert1" class="alert alert-danger" role="alert"></div>
<div id="alert2" class="alert alert-danger" role="alert"></div>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
{% endif %}
</div>
<script>
  const password1 = $("#password1")
  const password2 = $("#password2")
  const alert1 = $("#alert1")
  const alert2 = $("#alert2")
  const change = $("#change")
  $(document).ready(function(){
    password1.on('change', function(e){
      if(password1.val().length < 6){
        alert1.text("Password must be at least 6 characters long")
        alert1.show()
      }
      else{
        alert1.hide()
      }
    });
    password2.on('change', function(e){
      if(password1.val() != password2.val()){
        alert2.text("Passwords don't match")
        alert2.show()
      }else{
        alert2.hide()
      }
    });
    setInterval(
      function(){
        if(password1.val() != password2.val() && password2.val() != ""){
          alert2.text("Passwords don't match")
          alert2.show()
        }else{
          alert2.hide()
        }

        if(password1.val() == password2.val() && password1.val().length >= 6 && password1.val() != ""){
          change.attr("disabled", false)
        }else{
          change.attr("disabled", true)
        }

      })
  });
</script>
{% endblock %}