{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block main %}
<div id="contener" class="translate-middle">
    <form method="POST" class="form-group">
  {% csrf_token %}
  {{form}}
  <div class="mb-3">
    <label class="form-label">* Nazwa użytkownika</label>
    <input type="text" name="username" class="form-control" placeholder="JohnDoe" required autofocus>
  </div>
  <div class="mb-3">
    <label class="form-label">* Imię</label>
    <input type="text" name="firstName" class="form-control" placeholder="John" required>
  </div>
  <div class="mb-3">
    <label class="form-label">* Nazwisko</label>
    <input type="text" name="lastName" class="form-control" placeholder="Doe" required>
  </div>
  <div class="mb-3">
    <label class="form-label">* E-mail</label>
    <input type="email" name="email" class="form-control" placeholder="john.doe@gmail.com" required>
  </div>
  *<a href="#" id="btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Adres</a>
  <div class="input-group mb-3">
      <input type="text" name="address" id="address" class="form-control" placeholder="Wrocław, Sucha 1" aria-describedby="button-addon" required>
      <input type="button" id="button-addon" class="btn btn-outline-secondary" onclick="codeAddress()" value="Find">
      <input id="location" name="location" class="d-none">
    </div>
  <div class="mb-3">
    <label class="form-label">* Hasło</label>
    <input type="password" id="password1" name="password" class="form-control" placeholder="*********" required>
  </div>
  <div class="mb-3">
    <label class="form-label">* Potwierdź hasło</label>
    <input type="password" id="password2"name="password2" class="form-control" placeholder="*********" required>
  </div>
  <p>Posiadasz już konto? Zaloguj się <a href="/login" class="text-decoration-none">tutaj</a>.</p>
  <button id="register" type="submit" class="btn btn-success" disabled>Rejestracja</button>
</form>
<br>
<div id="alert1" class="alert alert-danger" role="alert"></div>
<div id="alert2" class="alert alert-danger" role="alert"></div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Przewodnik jak wprowadzać lokalizacje</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Możesz wpisać swój pełny adres lub tylko nazwę twojego miasta.</h5>
        <h5>Proszę wpisywać swoją lokalizację następująco: [Miasto], [Nazwa ulicy] [Numer domu] lub po prostu [Miasto].</h5>
        <h5>Przykład: Wrocław, Sucha 1</h5>
        <h5>Lokalizacja jest potrzebna aby wyświetlać twoje lokalne wydarzenia, wiadomości oraz oferty pracy.</h5>
        <h5>Dla prywatności naszych użytkowników lokalizacje nie są publicznie dostępne.</h5>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
  <script>
    let geocoder;
    let map;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      const mapOptions = {
        zoom: 8,
        center: {lat: 51.1079, lng: 17.0385}
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress() {
      const address = document.getElementById('address').value;
      geocoder.geocode({ 'address': address}, function(results, status) {
        document.getElementById('location').value = results[0].geometry.location;
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          const marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: address,
          });
          document.getElementById('address').readOnly = true;
          document.getElementById('button-addon').disabled = true;
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initialize">
</script>
<script>
  const password1 = $("#password1")
  const password2 = $("#password2")
  const button_addon = $("#button-addon")
  const alert1 = $("#alert1")
  const alert2 = $("#alert2")
  const register = $("#register")
  $(document).ready(function(){
    password1.on('change', function(e){
      if(password1.val().length < 6){
        alert1.text("Hasło musi zawierać minimum 6 znaków")
        alert1.show()
      }
      else{
        alert1.hide()
      }
    });
    password2.on('change', function(e){
      if(password1.val() != password2.val()){
        alert2.text("Hasła się nie zgadzają")
        alert2.show()
      }else{
        alert2.hide()
      }
    });
    setInterval(
      function(){
        if(password1.val() != password2.val() && password2.val() != ""){
          alert2.text("Hasła się nie zgadzają)
          alert2.show()
        }else{
          alert2.hide()
        }

        if(password1.val() == password2.val() && password1.val().length >= 6 && password1.val() != "" && button_addon.is(':disabled')){
          register.attr("disabled", false)
        }else{
          register.attr("disabled", true)
        }
      });
  });
</script>
{% endblock %}