{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block main %}
<div id="contener" class="translate-middle">
    <form method="POST" class="form-group">
  {% csrf_token %}
  {{form}}
  <div class="mb-3">
    <label class="form-label">* Username</label>
    <input type="text" name="username" class="form-control" placeholder="JohnDoe" required autofocus>
  </div>
  <div class="mb-3">
    <label class="form-label">* First Name</label>
    <input type="text" name="firstName" class="form-control" placeholder="John" required>
  </div>
  <div class="mb-3">
    <label class="form-label">* Last Name</label>
    <input type="text" name="lastName" class="form-control" placeholder="Doe" required>
  </div>
  <div class="mb-3">
    <label class="form-label">* E-mail</label>
    <input type="email" name="email" class="form-control" placeholder="john.doe@gmail.com" required>
  </div>
  *<a href="#" id="btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Location</a>
  <div class="input-group mb-3">
    <input type="text" name="address" id="address" class="form-control" placeholder="Wrocław, Sucha 1" aria-describedby="button-addon" required>
      <input type="button" id="button-addon" class="btn btn-outline-secondary" onclick="codeAddress()" value="Find">
      <input id="location" name="location" class="d-none">
    </div>
  <div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input type="text" name="phoneNumber" class="form-control" placeholder="111222333">
  </div>
  <div class="mb-3">
    <label class="form-label">* Password</label>
    <input type="password" name="password" class="form-control" placeholder="*********" required>
  </div>
  <div class="mb-3">
    <label class="form-label">* Confirm Password</label>
    <input type="password" name="password2" class="form-control" placeholder="*********" required>
  </div>
  <p>Already have a account? Log In <a href="/login" class="text-decoration-none">Here</a>.</p>
  <button id="register" type="submit" class="btn btn-success" disabled>Register</button>
</form>
<br>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
{% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Location Guide</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>You can type your full address or only your city name.</h5>
        <h5>Please type your location like this: [City], [Street name] [Home number] or just [City].</h5>
        <h5>Example: Wrocław, Sucha 1</h5>
        <h5>Locations are necessary for displaying your local events, news and job offers.</h5>
        <h5>For your personal privacy locations are not available for public access.</h5>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
  <script>
    let geocoder;
    let map;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      const mapOptions = {
        zoom: 8,
        center: {lat: 51.1079, lng: 17.0385}
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress() {
      const address = document.getElementById('address').value;
      geocoder.geocode({ 'address': address}, function(results, status) {
        document.getElementById('location').value = results[0].geometry.location;
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          const marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: address,
          });
          document.getElementById('register').disabled = false;
          document.getElementById('address').readOnly = true;
          document.getElementById('button-addon').disabled = true;
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initialize">
</script>
{% endblock %}