#events{
    width: 50%;
    min-height: 80vh;
    border-bottom: 1px solid black;
    border-right    : 1px solid black;
}
#news{
    width: 50%;
    min-height: 80vh;

    border-bottom: 1px solid black;
}
#jobs{
    width: 100%;
    height: 600px;
}
.card-body{
    max-height: 200px;
    overflow: hidden;
}
.events, .news, .jobs{
    width: 50%;
    height: 150px;
    overflow: hidden;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform .3s ease-out;
}
.events:hover, .news:hover, .jobs:hover{
  cursor: pointer;
  transform: translate(5px, -5px);
}
.badge{
    top: 15px;
    left: 100%;
}
.badge-text{
    position: absolute;
    left: 3px;
    top: 0px;
    font-size: 65%;
}
.news-badge, .event-badge{
    left:115%;
}