#map{
  width: 100%;
  height: calc(100vh - 56px);
  z-index: 1;
}
#accordion{
  position: absolute;
  right: 0px;
  z-index: 999;
  top: 15%;
  margin-right: 8px;
}
#filter1, #filter2{
  width: 200px;
}
.object_title{
  text-decoration: none;
}
.object_link{
  text-decoration: none;
  color: black;
  font-size: 200%;
  text-align: center;
}
.gm-style-iw-d{
  max-width: 25vw;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #accordion{
    top: 15%;
  }
  .gm-style-iw-d{
    max-width: 70vw;
  }
}