#baner{
    width: 100%; 
    padding: 10px;
}
#lewy{
    color: black;
    width: 50%;
    min-height: 100vh;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#lewy-content{
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
}
#prawy{
    color: black;
    width: 50%;
    min-height: 100vh;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#prawy-content{
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
}
#dolny{
    color: black;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
#dolny-content{
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
}
.events, .news, .jobs{
    width: 50%;
    height: 190px;
    overflow: hidden;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform .3s ease-out;
}
.events:hover, .news:hover, .jobs:hover{
  cursor: pointer;
  transform: translate(5px, -5px);
}
.btnedit{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.btnadd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .btnadd{
        flex-direction: column;
    }
}