#contener{
  position: absolute;
  left: 25%;
  max-height: 0px;
  margin-top: 10px;
  width: 345px;

}
#map{
  position: absolute;
  width: 50%;
  height: calc(100vh - 56px);
  top: 56px;
  right: 0;
}
#btnModal{
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black;
}
@media only screen and (max-width: 600px) {
  #map {
    top: 110vh;
    width: 100%;
  }
  #contener{
    left: 50%;
  }
}
#alert1, #alert2{
  display: none;
  width: 345px;
}