{% extends 'base.html' %}
{% load static %}
{% block title %}Dodaj wydarzenie{% endblock %}
{% block head %}
<style>
#form_contener{
  position: absolute;
  left: 25%;
  max-height: 0px;
  margin-top: 10px;
}
#map{
  position: absolute;
  width: 50%;
  height: calc(100vh - 56px);
  top: 56px;
  right: 0;
}
@media only screen and (max-width: 600px) {
  #map {
    position: relative;
    top: 600px;
    width: 100%;
    height: 70vh;
  }
  #form_contener{
    left: 50%;
  }
}
#count{
  position: absolute;
}
#btnModal{
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black;
}
</style>
{% endblock %}

{% block main %}
<div id="form_contener" class="translate-middle">
  <h1>Dodaj nowe wydarzenie</h1>
<form method="POST" class="form-group">
    {% csrf_token %}
    {{form}}
    <div class="mb-3">
      <label class="form-label">Tytuł</label>
      <input type="text" name="title" class="form-control" placeholder="Tytuł..." maxlength='100' required>
    </div>
    <div class="mb-3">
      <label class="form-label">Treść</label>
      <textarea id="description" name="description" class="form-control position-relative" placeholder="Treść..." maxlength='2000' required></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Początek</label>
      <input type="datetime-local" name="dateStart" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Koniec</label>
      <input type="datetime-local" name="dateEnd" class="form-control" required>
    </div>
    <a href="#" id="btnModal" data-bs-toggle="modal" class="form-label text-decoration-dotted" data-bs-target="#modal1">Lokalizacja</a>
      <div class="input-group mb-3">
        <input type="text" name="address" id="address" class="form-control" placeholder="Wrocław, Sucha 1" aria-describedby="button-addon" required>
        <input type="button" id="button-addon" class="btn btn-outline-secondary" onclick="codeAddress()" value="Znajdź">
        <input id="location" name="location" class="d-none">
      </div>
    <button id="submit" type="submit" class="btn btn-success" disabled>Dodaj</button>
  </form>
</div>
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal1Label">Przewodnik jak wprowadzać lokalizacje</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Możesz wpisać pełną lokalizację lub tylko nazwę miasta.</h5>
        <h5>Proszę wpisywać lokalizację następująco: [Miasto], [Nazwa ulicy] [Numer domu] lub po prostu [Miasto].</h5>
        <h5>Przykład: Wrocław, Sucha 1</h5>
        <h5>Lokalizacja jest potrzebna aby inni użytkownicy mogli zobaczyć twoje wydarzenia, aktualności oraz oferty pracy.</h5>
        <h5>Lokalizacja wydarzenia będzie publicznie dostępna.</h5>
        <h5>Uważnie sprawdź poprawność wpisanej przez ciebie lokalizacji.</h5>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
  <script>
    let geocoder;
    let map;

    {% for marker in markers %}
    {% if marker.title == userLocation %}
    const homeMarker = {lat: {{marker.latitude}}, lng: {{marker.longitude}}}
    {% endif %}
    {% endfor %}

    function initialize() {
      geocoder = new google.maps.Geocoder();
      const mapOptions = {
        zoom: 12,
        center: homeMarker,
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress() {
      const address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        document.getElementById('location').value = results[0].geometry.location;
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          const marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              title: address,
          });
          document.getElementById('submit').disabled = false;
          document.getElementById('address').readOnly = true;
          document.getElementById('button-addon').disabled = true;
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initialize">
</script>
<script>
  $(document).on('click', '#button-addon', function(e){
    let address = $("#address").val()
    console.log(address.split(", ")[0])
    console.log("{{userLocation}}".split("_")[0])
  }); 
</script>
{% endblock %}