{% extends 'base.html' %}
{% load static %}
{% block title %}Add News{% endblock %}
{% block head %}
<style>
#form_contener{
  position: absolute;
  left: 25%;
  max-height: 0px;
  margin-top: 10px;
}
#map{
  position: absolute;
  width: 50%;
  height: calc(100vh - 56px);
  top: 56px;
  right: 0;
}
@media only screen and (max-width: 600px) {
  #map {
    top: 80vh;
    width: 100%;
  }
  #form_contener{
    left: 50%;
  }
}
</style>
{% endblock %}
{% block main %}
  <div id="form_contener" class="translate-middle">
    <h1>Add New News</h1>
  <form method="POST" class="form-group">
      {% csrf_token %}
      {{form}}
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Title..." maxlength='100' required>
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" placeholder="Description..." maxlength='2000' required></textarea>
      </div>
      <label class="form-label">Location</label>
      <div class="input-group mb-3">
        <input type="text" name="address" id="address" class="form-control" placeholder="Wrocław, Sucha 1" aria-describedby="button-addon" required>
        <input type="button" id="button-addon" class="btn btn-outline-secondary" onclick="codeAddress()" value="Find">
        <input id="location" name="location" class="d-none">
      </div>
      <button id="submit" type="submit" class="btn btn-success" disabled>Add</button>
    </form>
  </div>
  <div id="map"></div>
  <script>
    let geocoder;
    let map;

    {% for marker in markers %}
    {% if marker.title == userLocation%}
    const homeMarker = {lat: {{marker.latitude}}, lng: {{marker.longitude}}}
    {% endif %}
    {% endfor %}

    function initialize() {
      geocoder = new google.maps.Geocoder();
      const mapOptions = {
        zoom: 12,
        center: homeMarker,
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress() {
      const address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        document.getElementById('location').value = results[0].geometry.location;
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          const marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              title: address,
          });
          document.getElementById('submit').disabled = false;
          document.getElementById('address').readOnly = true;
          document.getElementById('button-addon').disabled = true;
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initialize">
</script>
{% endblock %}