{% extends 'base.html' %}
{% load static %}
{% block title %}Dodaj Aktualności{% endblock %}
{% block head %}
<style>
#form_contener{
  position: absolute;
  left: 25%;
  max-height: 0px;
  margin-top: 10px;
}
#map{
  position: absolute;
  width: 50%;
  height: calc(100vh - 56px);
  top: 56px;
  right: 0;
}
@media only screen and (max-width: 600px) {
  #map {
    position: relative;
    top: 450px;
    width: 100%;
    height: 70vh;
  }
  #form_contener{
    left: 50%;
  }
}
#btnModal{
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black;
}
</style>
{% endblock %}
{% block main %}
  <div id="form_contener" class="translate-middle">
    <h1>Dodaj nową aktualności</h1>
  <form method="POST" class="form-group">
      {% csrf_token %}
      {{form}}
      <a href="#" id="btnModal" data-bs-toggle="modal" class="form-label text-decoration-dotted" data-bs-target="#modal1">Lokalizacja</a>
      <div class="input-group mb-3">
        <input type="text" name="address" id="address" class="form-control" placeholder="Wrocław, Sucha 1" aria-describedby="button-addon" required>
        <input type="button" id="button-addon" class="btn btn-outline-secondary rounded-end" onclick="codeAddress()" value="Znajdź">
        <input id="location" name="location" class="d-none">
      </div>
      <div class="mb-3">
        <label class="form-label">Tytuł</label>
        <input type="text" name="title" class="form-control" placeholder="Tytuł..." maxlength='100' required>
      </div>
      <div class="mb-3">
        <label class="form-label">Treść</label>
        <textarea name="description" class="form-control" placeholder="Treść..." maxlength='2000' required></textarea>
      </div>
      <button id="submit" type="submit" class="btn btn-success" disabled>Dodaj</button>
    </form>
  </div>
  <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal1Label">Przewodnik jak wprowadzać lokalizacje</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Możesz wpisać pełną lokalizację lub tylko nazwę miasta.</h5>
          <h5>Proszę wpisywać lokalizację następująco: [Miasto], [Nazwa ulicy] [Numer domu] lub po prostu [Miasto].</h5>
          <h5>Przykład: Wrocław, Sucha 1</h5>
          <h5>Lokalizacja jest potrzebna aby inni użytkownicy mogli zobaczyć twoją aktualność.</h5>
          <h5>Lokalizacja aktualności będzie publicznie dostępna.</h5>
          <h5>Uważnie sprawdź poprawność wpisanej przez ciebie lokalizacji.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Lokalizacja</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Sprawdź poprawność wpisanej lokalizacji!<br>
        Przykładowa lokalizacja: Wrocław, Sucha 1.
      </div>
    </div>
  </div>
  <script>
    const toastTrigger = document.getElementById('button-addon')
    const toastLive = document.getElementById('liveToast')
    if (toastTrigger) {
      toastTrigger.addEventListener('click', () => {
        const toast = new bootstrap.Toast(toastLive)
        toast.show()
      })
    }
  </script>
  <div id="map"></div>
  <script>
    let geocoder;
    let map;

    {% for marker in markers %}
    {% if marker.title == userLocation%}
    const homeMarker = {lat: {{marker.latitude}}, lng: {{marker.longitude}}}
    {% endif %}
    {% endfor %}

    function initialize() {
      geocoder = new google.maps.Geocoder();
      const mapOptions = {
        zoom: 12,
        center: homeMarker,
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress() {
      const address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        document.getElementById('location').value = results[0].geometry.location;
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          const marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              title: address,
          });
          document.getElementById('submit').disabled = false;
          document.getElementById('address').readOnly = true;
          document.getElementById('button-addon').disabled = true;
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initialize">
</script>
{% endblock %}