{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
{% block head %}
<style>
.event{
  max-height: 300px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: transform .3s ease-out;
}
.event:hover{
  cursor: pointer;
  transform: translate(5px, -5px);
}
.createdby{
  position: absolute;
  bottom: -5px;
  right: 2px;
  opacity: 0.5;
  color: black;
}
.datestart{
  position: absolute;
  top: 0px;
  right: 2px;
  opacity: 0.5;
  color: black;
}
.description{
  height: 200px;
  overflow: hidden;
}
.person_count{
  position: absolute;
  bottom: -5px;
  left: 2px;
  opacity: 0.5;
  color: black;
}
</style>
{% endblock %}

{% block main %}
<div class="filters p-3 position-absolute">
  <form method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text">Filters</span>
      <input type="submit" id="all" class="btn {% if filter == 'all' %}btn-success{% elif filter == 'city' %}btn-danger{% else %}btn-success{% endif %}" {% if filter == 'all' %}disabled{% else %}{% endif %} value="All">
      <input type="submit" id="city" class="btn {% if filter == 'city' %}btn-success{% elif filter == 'all' %}btn-danger{% else %}btn-success{% endif %}" {% if filter == 'city' %}disabled{% else %}{% endif %} value="City">
    </div>
    <input id="result" name="result" class="d-none">
  </form>
</div>
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>Events</h1>
</span>
  <div class="d-flex flex-wrap gap-2 p-2">
    {% for event in events %}
    <div onclick="location.href='/events/{{event.id}}';" class="event card text-center text-bg-secondary m-2" style="width: 27.5rem;">
      <div class="card-body">
        <h2>{{event.title}}</h2>
        <h3 class="description">{{event.description}}</h3>
        <h5 class="datestart">{{event.dateStart.day}}.{{event.dateStart.month}}.{{event.dateStart.year}} {{event.dateStart.time}}</h5>
        <h5 class="person_count"><img src="{% static 'images/person.png' %}" height=25>{{event.participants.count}}</h5>
        {% for user in users %}
        {% if user.id == event.userId %}
        <h5 class="createdby">Created by: <a class="link-dark text-decoration-none" href="/profile/{{user}}">{{user}}</a></h5>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
<button id="back-to-top" onclick="topFunction()" class="btn btn-dark btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></button>
<script src="{% static 'js/scroll-top.js' %}"></script>
<script>
  const city = document.getElementById("city");
  const all = document.getElementById("all");
  let result = document.getElementById("result");

  city.addEventListener('click', cityFun);
  all.addEventListener('click', allFun);
  function cityFun(){
    result.value = "city";
  }
  function allFun(){
    result.value = "all";
  }
</script>
{% endblock %}