{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
{% block head %}
<style>
.event{
  max-height: 300px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: transform .3s ease-out;
}
.event:hover{
  cursor: pointer;
  transform: translate(5px, -5px);
}
.createdby{
  position: absolute;
  bottom: -5px;
  right: 2px;
  opacity: 0.5;
  color: black;
}
.datestart{
  position: absolute;
  top: 0px;
  right: 2px;
  opacity: 0.5;
  color: black;
}
.description{
  height: 200px;
  overflow: hidden;
}
.person_count{
  position: absolute;
  bottom: -5px;
  left: 2px;
  opacity: 0.5;
  color: black;
}
@media only screen and (max-width: 600px) {
  .filters {
    top: 50px;
  }
}
</style>
{% endblock %}
{% block main %}
<div class="filters p-3 position-absolute">
    <div class="input-group mb-3">
      <span class="filter input-group-text">Filter</span>
      <button type="submit" id="filter" class="btn btn-success">City</button>
    </div>
</div>
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>Events</h1>
</span>
  <div class="events d-flex flex-wrap gap-2 p-2">
    {% for event in events %}
    <div onclick="location.href='/events/{{event.id}}';" class="{% if userLocation in event.location %}city{% else %}all{% endif %} event card text-center text-bg-secondary m-2" style="width: 27.5rem;">
      <div class="card-body">
        <h2>{{event.title}}</h2>
        <h3 class="description">{{event.description}}</h3>
        <h5 class="datestart">{{event.dateStart.day}}.{{event.dateStart.month}}.{{event.dateStart.year}} {{event.dateStart.time}}</h5>
        <h5 class="person_count"><img src="{% static 'images/person.png' %}" height=25>{{event.participants.count}}</h5>
        {% for user in users %}
        {% if user.id == event.userId %}
        <h5 class="createdby">Created by: <a class="link-dark text-decoration-none" href="/profile/{{user}}">{{user}}</a></h5>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
<button id="back-to-top" onclick="topFunction()" class="btn btn-dark btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></button>
<script src="{% static 'js/scroll-top.js' %}"></script>
<script>
  $(document).on('click', '#filter', function(e){
    e.preventDefault()
    filter = $("#filter")
    if (filter.text() == "All"){
      filter.text("City") 
    }else{
      filter.text("All") 
    }
    $.ajax({
      type: 'POST',
      url: '/filter/',
      data: {
        filter: filter.text(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },
      success: function(json){
        if (json['result'] == "All"){
          $(".city").show()
          $(".all").show()
        }else{
          $(".city").show()
          $(".all").hide()
        }
      },
      error: function(error){
        console.log(error)
      }
    });
  });
</script>
{% endblock %}