{% extends 'base.html' %}
{% load static %}
{% block title %}Wiadomości{% endblock %}
{% block head %}
<style>
  .news{
    max-height: 300px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform .3s ease-out;
  }
  .news:hover{
    cursor: pointer;
    transform: translate(5px, -5px);
  }
  .createdby{
    position: absolute;
    bottom: -5px;
    right: 2px;
    opacity: 0.5;
    color: black;
  }
  .description{
    height: 200px;
    overflow: hidden;
  }
  #filter{
    width: 90px;
  }
  @media only screen and (max-width: 600px) {
    .filters {
      top: 75px;
    }
    .newsTable{
      margin-top: 25px;
    }
  }
  </style>
{% endblock %}
{% block main %}
<div class="filters p-3 position-absolute">
  <div class="input-group mb-3">
    <span class="filter input-group-text">Filtr</span>
    <button type="submit" id="filter" class="btn btn-success">Miasto</button>
  </div>
</div>
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>Wiadomości</h1>
</span>
  <div class="newsTable d-flex flex-wrap gap-2 p-2">
    {% for n in news %}
        <div onclick="location.href='/news/{{n.id}}';" class="{% if userLocation in n.location %}city{% else %}all{% endif %} news card text-center text-bg-secondary m-2" style="width: 27.5rem;">
          <div class="card-body">
            <h1>{{n.title}}</h1>
            <h3 class="description">{{n.description}}</h3>
            {% for user in users %}
            {% if user.id == n.userId %}
            <h5 class="createdby">Stworzone przez: <a class="link-dark text-decoration-none" href="/profile/{{user}}">{{user}}</a></h5>
            {% endif %}
            {% endfor %}
          </div>
        </div>
    {% endfor %}
  </div>
  <button id="back-to-top" onclick="topFunction()" class="btn btn-dark btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></button>
  <script src="{% static 'js/scroll-top.js' %}"></script>
  <script>
    $(document).on('click', '#filter', function(e){
      e.preventDefault()
      filter = $("#filter")
      if (filter.text() == "Wszystko"){
        filter.text("Miasto") 
      }else{
        filter.text("Wszystko") 
      }
      $.ajax({
        type: 'POST',
        url: '/filter/',
        data: {
          filter: filter.text(),
          csrfmiddlewaretoken: '{{csrf_token}}',
          action: 'post'
        },
        success: function(json){
          if (json['result'] == "Wszystko"){
            $(".city").show()
            $(".all").show()
          }else{
            $(".city").show()
            $(".all").hide()
          }
        },
        error: function(error){
          console.log(error)
        }
      });
    });
  </script>
{% endblock %}