{% extends 'base.html' %}
{% load static %}
{% block title %}Add Marker{% endblock %}
{% block head %}
<style>
#contener{
  position: absolute;
  left: 25%;
  max-height: 0px;
  margin-top: 10px;
}
#map{
  position: absolute;
  width: 50%;
  height: 500px;
  top: 56px;
  right: 0;
}
</style>
{% endblock %}

{% block main %}
<div id="contener" class="translate-middle">
<form method="POST" class="form-group">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Location</label>
      <input type="text" name="location" id="location" class="form-control" placeholder="52.195002, 12.02351" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Title..." required>
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea name="content" id="content" class="form-control" placeholder="Content..." required></textarea>
      </div>
    <button id="submit" type="submit" class="btn btn-success">Add</button>
  </form>
</div>

  <div id="map"></div>
  <script>
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: { lat: 40.731, lng: -73.997 },
      });
      const geocoder = new google.maps.Geocoder();
      const infowindow = new google.maps.InfoWindow();
    
      document.getElementById("submit").addEventListener("click", () => {
        geocodeLatLng(geocoder, map, infowindow);
      });
    }
    
    function geocodeLatLng(geocoder, map, infowindow) {
      const input = document.getElementById("latlng").value;
      const latlngStr = input.split(",", 2);
      const latlng = {
        lat: parseFloat(latlngStr[0]),
        lng: parseFloat(latlngStr[1]),
      };
    
      geocoder
        .geocode({ location: latlng })
        .then((response) => {
          if (response.results[0]) {
            map.setZoom(11);
    
            const marker = new google.maps.Marker({
              position: latlng,
              map: map,
            });
    
            infowindow.setContent(response.results[0].formatted_address);
            infowindow.open(map, marker);
          } else {
            window.alert("No results found");
          }
        })
        .catch((e) => window.alert("Geocoder failed due to: " + e));
    }
    
    window.initMap = initMap;
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"
    async defer></script>
{% endblock %}