{% extends 'base.html' %}
{% load static %}
{% block title %}Add Marker{% endblock %}
{% block head %}
<style>
#contener{
  position: absolute;
  left: 50%;
  max-height: 0px;
  margin-top: 10px;
}
</style>
{% endblock %}

{% block main %}
<div id="contener" class="translate-middle">
<form method="POST" class="form-group">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Location</label>
      <input type="text" name="location" id="location" class="form-control" placeholder="52.195002, 12.02351" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Title..." required>
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea name="content" id="content" class="form-control" placeholder="Content..." required></textarea>
      </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>
{% endblock %}