{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myNeighborville - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">myNeighborville</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li>
          </ul>
          <span class="navbar-text">
            {% if user.is_authenticated %}
            <div id="dropdown">
              <button id="username" onclick="showPopUp()">{{user.username}}</button>
              <div id="userPopUp">
                <a class="text-decoration-none link-success" href="/profile/{{user.username}}"><h4>Profile</h4></a>
                <a class="text-decoration-none link-primary" href="/profile/settings/{{user.username}}"><h4>Settings</h4></a>
                <a class="text-decoration-none link-danger" href="/logout"><h5>Log Out</h5></a>
              </div>
            </div>
            {% else %}
            <a class="nav-link" href="/login">Log In</a>
            {% endif %}
            {% if user.is_staff %}
          </span>
          <span class="navbar-text">
            <a class="nav-link mx-2" href="/admin">Admin</a>
          </span>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="base-kontener">{% block main %}{% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function showPopUp(){
        const userPopUp = document.getElementById('userPopUp');

        if (userPopUp.style.display === 'block'){
          userPopUp.style.display = "none";
        }else{
          userPopUp.style.display = "block";
        }
      }
    </script>
  </body>
</html>