{% extends 'base.html' %}
{% load static %}
{% block title %}{{event.title}}{% endblock %}
{% block head %}
<style>
  .person_count{
    position: absolute;
    bottom: -8px;
    left: 2px;
    opacity: 0.5;
    color: black;
  }
  .location{
    position: absolute;
    top: -5px;
    right: 4px;
    opacity: 0.5;
    color: black;
    height: 40px;
  }
  @media only screen and (max-width: 600px) {
    .location{
      position: absolute;
      top: -5px;
      left: 4px;
      opacity: 0.5;
      color: black;
      width: 355px;
      overflow: hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
</style>
{% endblock %}

{% block main %}
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>{{event.title}}</h1>
</span>
<div class="d-flex p-2 justify-content-center">
      <div class="event card text-center text-bg-secondary m-2" style="width: 100%;">
        <div class="card-body">
          <h3 class="border-bottom">{{event.description}}</h3>
          <h3>Rozpoczęcie: {{event.dateStart}}</h3>
          <h3>Zakończenie: {{event.dateEnd}}</h3>
          <h5>Stworzone przez: <a class="text-decoration-none" href="/profile/{{owner}}">{{owner}}</a></h5>
          <h5 class="person_count">
            {% if user.username != owner.user.username %}
            <button id="submit" type="submit" style="border: none; background: none;" class="text-decoration-none">
              {% if participating %}
              <img id="image" src="{% static 'images/star-filled.png' %}" height=35>
              {% else %}
              <img id="image" src="{% static 'images/star.png' %}" height=35>
              {% endif %}
            </button>
            {% else %}
            <img src="{% static 'images/star.png' %}" height=35>
            {% endif %}
            <span id="counter">{{event.participants.count}}</span>
          </h5>
          <h5 class="location">Lokalizacja: <a id="btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">{{event.location}}</a></h5>
        </div>
      </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{event.location}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on('click', '#submit', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/events/participate/',
      data: {
        eventId: {{event.id}},
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },
      success: function(json){
        document.getElementById("counter").innerHTML = json['result']
        if (json['participating']){
          $("#image").attr('src', '{% static "images/star-filled.png" %}')
        }else{
          $("#image").attr('src', '{% static "images/star.png" %}')
        }
      },
      error: function(error){
        console.log(error)
      }
    })
  });
</script>
{% endblock %}
