{% extends 'base.html' %}
{% load static %}
{% block title %}{{event.title}}{% endblock %}
{% block head %}
{% endblock %}

{% block main %}
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>{{event.title}}</h1>
</span>
<div class="d-flex p-2 justify-content-center">
      <div class="event card text-center text-bg-secondary m-2" style="width: 100%;">
        <div class="card-body">
          <h3>{{event.description}}</h3>
          <h3>Start Date: {{event.dateStart}}</h3>
          <h3>Start Date: {{event.dateEnd}}</h3>
          <h5>Created by: {{owner}}</h5>
        </div>
      </div>
</div>
{% endblock %}