{% extends 'base.html' %}
{% load static %}
{% block title %}Główna{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block main %}
<div class="filters p-3 position-fixed">
  <div class="input-group mb-3">
    <span class="filter input-group-text">Filtr</span>
    <button type="submit" id="filter" class="btn btn-success">Miasto</button>
  </div>
</div>
  <div class="d-flex flex-wrap">
    <div id="events">
      <div class="d-flex justify-content-center">
        <h1 class="text-dark">Ostatnie 
          <a href="/events" class="link-secondary text-decoration-none position-relative">Wydarzenia
            <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">{% if eventsCount > 99 %}99+{%else%}{{eventsCount}}{%endif%}</span>
          </a>
        </h1>
      </div>
      <div class="d-flex justify-content-center flex-wrap">
        {% for event in events %}
          <div onclick="location.href='/events/{{event.id}}';" class="{% if userLocation in event.location %}city{% else %}all{% endif %} events card text-center text-bg-secondary m-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.description}}</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="news">
      <div class="d-flex justify-content-center">
        <h1>Ostatnie 
          <a href="/news" class="link-secondary text-decoration-none position-relative">Aktualności
            <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">{% if newsCount > 99 %}99+{%else%}{{newsCount}}{%endif%}</span>
          </a>
        </h1>
      </div>
      <div class="d-flex justify-content-center flex-wrap">
        {% for newss in news %}
          <div onclick="location.href='/news/{{newss.id}}';" class="{% if userLocation in newss.location %}city{% else %}all{% endif %} news card text-center text-bg-secondary m-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{newss.title}}</h5>
                <p class="card-text">{{newss.description}}</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="jobs">
      <div class="d-flex justify-content-center">
        <h1 class="text-dark">Ostatnie Oferty
            <a href="/jobs" class="link-secondary text-decoration-none position-relative">Pracy
              <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">{% if jobsCount > 99 %}99+{%else%}{{jobsCount}}{%endif%}</span>
            </a>
          </h1>
      </div>
      <div class="d-flex justify-content-center flex-wrap">
        {% for job in jobs %}
                <div onclick="location.href='/jobs/{{job.id}}';" class="{% if userLocation in job.location %}city{% else %}all{% endif %} jobs card text-center text-bg-secondary m-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{job.title}}</h5>
                      <p class="card-text">{{job.description}}</p>
                    </div>
                </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    $(document).on('click', '#filter', function(e){
      e.preventDefault()
      filter = $("#filter")
      if (filter.text() == "Wszystko"){
        filter.text("Miasto") 
      }else{
        filter.text("Wszystko") 
      }
      $.ajax({
        type: 'POST',
        url: '/filter/',
        data: {
          filter: filter.text(),
          csrfmiddlewaretoken: '{{csrf_token}}',
          action: 'post'
        },
        success: function(json){
          if (json['result'] == "Wszystko"){
            $(".city").show()
            $(".all").show()
          }else{
            $(".city").show()
            $(".all").hide()
          }
        },
        error: function(error){
          console.log(error)
        }
      });
    });
  </script>
{% endblock %}