{% extends 'base.html' %}
{% load static %}
{% block title %}Map{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block main %}
  <div id="map"></div>
  {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
  <script type="text/javascript">
    let map;
    let markers = [];
    class Marker {
      constructor(location, title, content) {
        const infowindow = new google.maps.InfoWindow({
          content: content,
        });
        const marker = new google.maps.Marker({
          position: location,
          map: map,
          title: title,
        });
        marker.addListener("click", () => {
          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
          });
        });
      }
    }
    function initialize() {
      // Do zoptymalizowania żeby brało geocoding z miasta usera  
      {% for marker in markers %}
      const {{marker.title}} = {lat: {{marker.latitude}}, lng: {{marker.longitude}}}
      {% endfor %}
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: {{userLocation}} // zmienić na dynamiczne,
      });
      map.addListener("zoom_changed", () => {
        // console.log(map.getZoom());
        if (map.getZoom() < 11){
          
        }
      });
    function addMarkers(){
      {% for marker in markers %}
      const marker{{marker.id}} = new Marker({{marker.title}}, "{{marker.title}}", "{{marker.content}}");
      {% endfor %}
    }
    addMarkers();
    } 
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initialize"
    async defer></script>
{% endblock %}