{% extends 'base.html' %}
{% load static %}
{% block title %}Mapa{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block main %}
<div class="accordion" id="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filtruj
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="accordion-body d-flex justify-content-center align-items-center flex-column gap-2">
        Markery
        <button id="filter1" class="btn btn-success">Tylko z twojego miasta</button>
        <button id="filter2" class="btn btn-success">Wszystkie</button>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>
  <script type="text/javascript">
    let map;
    let markers = [];
    function initialize() {
      {% for marker in cityMarkers %}
      const {{marker.title}} = { lat: {{marker.latitude}}, lng: {{marker.longitude}} };
      {% endfor %}
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: {{userLocation}},
      });

      map.addListener("zoom_changed", () => {
        if (map.getZoom() < 11){
          setMapOnAll(null);
          markers = [];
        }else{
          loadCityMarkers()
        }
      });

      document.getElementById('filter1').addEventListener('click', loadCityMarkers);
      document.getElementById('filter2').addEventListener('click', loadAllMarkers);
      
      loadCityMarkers();
      function setMapOnAll(map){
        for (let i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      function loadAllMarkers(){
        setMapOnAll(null);
        markers = [];
        {% for marker in allMarkers %}
          {% if marker.title == userLocation %}
          {% if marker.elements != 0 %}
          addMarker({lat: {{marker.latitude}}, lng: {{marker.longitude}}}, `<h2>Home</h2><a class="object_link" href="/home_list"><h3>Info</h2></a>`, "{{marker.icon|safe}}");
          {% else %}
          addMarker({lat: {{marker.latitude}}, lng: {{marker.longitude}}}, `<h2>Home</h2>`, "{{marker.icon|safe}}");
          {% endif %}
          {% elif marker.content != "<h2>Home</h2>" %}
          addMarker({lat: {{marker.latitude}}, lng: {{marker.longitude}}}, `{{marker.content|safe}}`, "{{marker.icon|safe}}");
          {% else %}
          {% endif %}
        {% endfor %}
        setMapOnAll(map);
      }
      function loadCityMarkers(){
        setMapOnAll(null);
        markers = [];
        {% for marker in cityMarkers %}
          {% if marker.title == userLocation %}
            {% if marker.elements != 0 %}
            addMarker({lat: {{marker.latitude}}, lng: {{marker.longitude}}}, `<h2>Home</h2><a class="object_link" href="/home_list"><h3>Info</h2></a>`, "{{marker.icon|safe}}");
            {% else %}
            addMarker({lat: {{marker.latitude}}, lng: {{marker.longitude}}}, `<h2>Home</h2>`, "{{marker.icon|safe}}");
            {% endif %}
          {% elif marker.content != "<h2>Home</h2>" %}
          addMarker({lat: {{marker.latitude}}, lng: {{marker.longitude}}}, `{{marker.content|safe}}`, "{{marker.icon|safe}}");
          {% endif %}
        {% endfor %}
        setMapOnAll(map);
      }
      function addMarker(position, content){
        const marker = new google.maps.Marker({
          position: position,
          map,
        });
        const infowindow = new google.maps.InfoWindow({
          content: content,
        });
        marker.addListener("click", () => {
          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
          });
        });
        google.maps.event.addListener(map, "click", function(event) {
          infowindow.close();
		    });
        markers.push(marker);
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initialize"
    async defer></script>
{% endblock %}