{% extends 'base.html' %}
{% load static %}
{% block title %}Map{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block main %}
<form method="POST">
  {% csrf_token %}
  <div class="position-absolute start-50 top-50 translate-middle d-flex flex-column gap-2">
    <input id="filter1" class="btn btn-success" value="Show only your city markers">
    <input id="filter2" class="btn btn-success" value="Show all markers">
  </div>
</form>
<div id="map"></div>
  {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
  <script type="text/javascript">
    let map;
    let markers = [];
    class Marker {
      constructor(location, title, content) {
        const infowindow = new google.maps.InfoWindow({
          content: content,
        });
        const marker = new google.maps.Marker({
          position: location,
          map: map,
          title: title,
        });
        marker.addListener("click", () => {
          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
          });
        });
      }
    }
    function initialize() {
      // Do zoptymalizowania żeby brało geocoding z miasta usera  
      {% for marker in markers %}
      const {{marker.title}} = {lat: {{marker.latitude}}, lng: {{marker.longitude}}}
      {% endfor %}
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: {{userLocation}} // zmienić na dynamiczne,
      });
      map.addListener("zoom_changed", () => {
        // console.log(map.getZoom());
        if (map.getZoom() < 11){
          
        }
      });
      const filter1 = document.getElementById('filter1')
      const filter2 = document.getElementById('filter2')
      function loadAllMarkers(){
        {% for marker in markers %}
        const marker{{marker.id}} = new Marker({{marker.title}}, "{{marker.title}}", "{{marker.content|safe}}");
        {% endfor %}
        document.getElementById('map').style.display = 'block';
      }
      function loadCityMarkers(){
        {% for marker in markers %}
        {% if userLocation in marker.title %}
        const marker{{marker.id}} = new Marker({{marker.title}}, "{{marker.title}}", "{{marker.content|safe}}");
        {% else %}
        {% endif %}
        {% endfor %}
        filter1.style.display = 'none';        
        filter2.style.display = 'none';        
        document.getElementById('map').style.display = 'block';
      }
      filter1.addEventListener('click', loadCityMarkers);
      filter2.addEventListener('click', loadAllMarkers);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initialize"
    async defer></script>
{% endblock %}