{% extends 'base.html' %}
{% load static %}
{% block title %}News{% endblock %}
{% block head %}
{% endblock %}

{% block main %}
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>News</h1>
</span>
  <div class="d-flex flex-wrap gap-2 p-2">
    {% for n in news %}
        <div class="event card text-center text-bg-secondary m-2" style="width: 27.5rem;">
          <div class="card-body">
            <h2>Title: {{n.title}}</h2>
            <h3>Description: {{n.description}}</h3>
            {% for user in n.user.all %}
            <h5>Created by: {{user}}</h5>
            {% endfor %}
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}