{% extends 'base.html' %}
{% load static %}
{% block title %}{{oneNews.title}}{% endblock %}
{% block head %}
<style>
  .location{
    position: absolute;
    bottom: -5px;
    right: 4px;
    opacity: 0.5;
    color: black;
    height: 40px;
  }
  .createdAt{
    position: absolute;
    bottom: -5px;
    left: 4px;
    opacity: 0.5;
    color: black;
  }
  @media only screen and (max-width: 600px) {
    .location{
      position: absolute;
      top: -5px;
      left: 4px;
      opacity: 0.5;
      color: black;
      width: 355px;
      overflow: hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
</style>
{% endblock %}

{% block main %}
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>{{oneNews.title}}</h1>
</span>
<div class="d-flex p-2 justify-content-center">
      <div class="news card text-center text-bg-secondary m-2" style="width: 100%;">
        <div class="card-body">
          <h3 class="border-bottom">{{oneNews.description}}</h3>
          <h5>Stworzone przez: <a class="text-decoration-none" href="/profile/{{owner}}">{{owner}}</a></h5>
          <h5 class="location">Lokalizacja: <a id="btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">{{oneNews.location}}</a></h5>
          <h5 class="createdAt">Data utworzenia: {{oneNews.createdAtDate.day}}.{{oneNews.createdAtDate.month}}.{{oneNews.createdAtDate.year}}</h5>
        </div>
      </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{oneNews.location}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
