{% extends 'base.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
    <div class="d-flex flex-wrap">
        <div id="baner" class="d-flex justify-content-center align-items-center gap-3">
            <h2>{{currentUser.user.username}}</h2>
        </div>
        <div id="left">
            <span class="btnadd">
                {% if request.user.id == currentUser.id %}
                <a class="btnadd btn btn-success" href="/add_event">Dodaj</a>
                {% endif %}
                <h1>Wydarzenia</h1>
            </span>
            <div id="left-content">
                {% for event in userEvents %}
                <div onclick="location.href='/events/{{event.id}}';" id="events_{{ forloop.counter }}"class="events card text-center text-bg-secondary m-2" style="width: 18rem; display:{% if forloop.counter > loadEvents %}none;{% else %}block;{% endif %}">
                    <div class="card-body">
                      <h5 class="card-title">{{event.title}}</h5>
                      <p class="card-text">{{event.description}}</p>
                    </div>
                    {% if request.user.id == event.userId %}
                    <a href="/events/edit_event/{{event.id}}" class="btnedit btn btn-success">Edytuj</a>
                    {% endif %}
                    {% if user.id == event.userId %}
                    <span id="counter">
                        <h5 class="person_count"><img src="{% static 'images/person.png' %}" height=25>{{event.participants.count}}</h5>{{job.people.count}}
                    </span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div style="position: absolute; bottom: -15px; left: 50%; transform: translate(-50%, -50%);">
                <button id="loadMoreEvents" class="border-none">Load more...</button>
            </div>
        </div>
        <div id="right">
            <span class="btnadd">
                {% if request.user.id == currentUser.id %}
                <a class="btnadd btn btn-success" href="/add_news">Dodaj</a>
                {% endif %}
                <h1>Aktualności</h1>
            </span>
            <div id="right-content">
                {% for news in userNews %}
                <div onclick="location.href='/news/{{news.id}}';" id="news_{{ forloop.counter }}" class="news card text-center text-bg-secondary m-2" style="width: 18rem; display:{% if forloop.counter > loadNews %}none;{% else %}block;{% endif %}">
                    <div class="card-body">
                      <h5 class="card-title">{{news.title}}</h5>
                      <p class="card-text">{{news.description}}</p>
                    </div>
                    {% if request.user.id == news.userId %}
                    <a href="/news/edit_news/{{news.id}}" class="btnedit btn btn-success">Edytuj</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div style="position: absolute; bottom: -15px; left: 50%; transform: translate(-50%, -50%);">
                <button id="loadMoreNews" class="border-none">Load more...</button>
            </div>
        </div>
        <div id="bottom">
            <span class="btnadd">
                {% if request.user.id == currentUser.id %}
                <a class="btn btn-success" href="/add_job">Dodaj</a>
                {% endif %}
                <h1>Oferty pracy</h1>
            </span>
            <div id="bottom-content">
                {% for job in userJobs %}
                <div onclick="location.href='/jobs/{{job.id}}';" id="jobs_{{ forloop.counter }}" class="jobs card text-center text-bg-secondary m-2" style="width: 18rem; display:{% if forloop.counter > loadJobs %}none;{% else %}block;{% endif %}">
                    <div class="card-body">
                      <h5 class="card-title">{{job.title}}</h5>
                      <p class="card-text">{{job.description}}</p>
                    </div>
                    {% if job.userId == request.user.id %}
                    <a href="/jobs/edit_job/{{job.id}}" class="btnedit btn btn-success">Edytuj</a>
                    {% endif %}
                    {% if user.id == job.userId %}
                    <span id="counter">
                        <h5 class="person_count"><img src="{% static 'images/person.png' %}" height=25>{{event.participants.count}}</h5>{{job.people.count}}
                    </span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div style="position: absolute; bottom: -15px; left: 50%; transform: translate(-50%, -50%);">
                <button id="loadMoreJobs" class="border-none">Load more...</button>
            </div>
        </div>
    </div>
    <button id="back-to-top" onclick="topFunction()" class="btn btn-dark btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></button>
    <script src="{% static 'js/scroll-top.js' %}"></script>
    <script>
        $(document).on('click', '#loadMoreNews', function(e){
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/load_more/',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                    object: 'news',
                },
                success: function(json){
                    console.log(json)
                    $(".news").each(function(){
                        const id = $(this).attr('id')
                        if (id.split("_")[1] <= json['result']){
                            $(this).show()
                        }
                    })
                }
            });
        });
        $(document).on('click', '#loadMoreEvents', function(e){
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/load_more/',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                    object: 'events',
                },
                success: function(json){
                    $(".events").each(function(){
                        const id = $(this).attr('id')
                        if (id.split("_")[1] < json['result']){
                            $(this).show()
                        }
                    })
                }
            });
        });
        $(document).on('click', '#loadMoreJobs', function(e){
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/load_more/',
                data: {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                    object: 'jobs',
                },
                success: function(json){
                    $(".jobs").each(function(){
                        const id = $(this).attr('id')
                        if (id.split("_")[1] < json['result']){
                            $(this).show()
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}