{% extends 'base.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
    <div class="d-flex flex-wrap">
        <div id="baner" class="d-flex justify-content-center align-items-center gap-3">
            <h2>{{currentUser.user.username}}</h2>
        </div>
        <div id="lewy">
            <span style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                {% if request.user.id == currentUser.id %}
                <a class="btn btn-success" href="/add_event">Add</a>
                {% endif %}
                <h1>Events</h1>
            </span>
            <div id="lewy-content">
                {% for event in userEvents %}
                <div onclick="location.href='/events/{{event.id}}';" class="events card text-center text-bg-secondary m-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{event.title}}</h5>
                      <p class="card-text">{{event.description}}</p>
                    </div>
                    {% if request.user.id == event.userId %}
                    <a href="/events/edit_event/{{event.id}}" class="btn btn-success">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="prawy">
            <span style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                {% if request.user.id == currentUser.id %}
                <a class="btn btn-success" href="/add_news">Add</a>
                {% endif %}
                <h1>News</h1>
            </span>
            <div id="prawy-content">
                {% for news in userNews %}
                <div onclick="location.href='/news/{{news.id}}';" class="news card text-center text-bg-secondary m-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{news.title}}</h5>
                      <p class="card-text">{{news.description}}</p>
                    </div>
                    {% if request.user.id == news.userId %}
                    <a href="/news/edit_news/{{news.id}}" class="btn btn-success">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="dolny">
            <span style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                {% if request.user.id == currentUser.id %}
                <a class="btn btn-success" href="/add_job">Add</a>
                {% endif %}
                <h1>Jobs</h1>
            </span>
            <div id="dolny-content">
                {% for job in userJobs %}
                <div onclick="location.href='/jobs/{{job.id}}';" class="jobs card text-center text-bg-secondary m-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{job.title}}</h5>
                      <p class="card-text">{{job.description}}</p>
                    </div>
                    {% if job.userId == request.user.id %}
                    <a href="/jobs/edit_job/{{job.id}}" class="btn btn-success">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}