{% extends 'base.html' %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block head %}
{% endblock %}

{% block main %}
<span style="display: flex; align-items: center; justify-content: center;">
    <h1>Settings</h1>
</span>
<div class="d-flex p-2 justify-content-center">
      <div class="event card text-center text-bg-secondary m-2" style="width: 100%;">
        <div class="card-body">
          <h3>Change Nickname</h3>
          <h3>Change Password</h3>
          <h3>Change Location</h3>
        </div>
      </div>
</div>
{% endblock %}